<h1><%= headerText %></h1>

<%= form_for @waffle do |w| %>

    <%= render 'shared/error_messages' %>

    <p>
        <%= w.label :name, 'Nazwa' %><br>
        <%= w.text_field :name %>
    </p>

    <p>
        <%= w.label :price, 'Cena' %><br>
        <%= w.text_field :price %>
    </p>
    <p>
      <%= w.label :discount, 'Przecena' %><br>
      <%= w.check_box :discount %>
    </p>
    <p>
        <label>Zdjęcie gofra</label>
        <br>
        <%= image_tag(@waffle.image_url) if @waffle.image? %>
        <%= w.file_field :image %>
        <%= w.hidden_field :image_cache %>
        <br>
        <%= if @waffle.image? && @waffle.id?
            link_to 'Usuń obrazek', removeImage_path(@waffle),
                    method: :delete,
            data: { confirm: 'Czy napewno chcesz usunąć ten obrazek?' }
            end
            %>
    </p>

    <p>
        <%= w.submit submitText, class: "btn btn-primary" %>
    </p>
<% end %>

<%= link_to 'Wróć', waffles_path %>