<h1>Gofry</h1>

<% if can? :create, Waffle %>
<%= link_to 'Nowy gofr', new_waffle_path %>
<% end %>

<%= form_tag destroy_multiple_waffles_path, method: :delete do %>

    <div id="mother-box">
        <% @counter = 0 %>
        <% (0..@wafflesPromoCount-1).each do |i| %>
            <div id="box">
                <div class="box1">
                    <% if !@wafflesPromoArr[i].nil? %>
                      <div class=" rowGrid itemsPromoRow">
                        <div id="images"><%= image_tag(@wafflesPromoArr[i].image) %> </div>
                        <div id="name"><%= @wafflesPromoArr[i].name %></div>
                        <div id="price"><%= @wafflesPromoArr[i].price %> zł</div>
                        <% if can? :manage, Waffle %>
                        <div class="check"><%= check_box_tag "waffles[]", @wafflesPromoArr[i].id %></div>
                            <% end %>
                        <div class="link"><%= link_to '', waffle_path(@wafflesPromoArr[i]), class: "fa fa-chevron-up" %></div>
                   <% if can? :manage, Waffle %>
                        <div class="link"><%= link_to '', edit_waffle_path(@wafflesPromoArr[i]), class: "fa fa-pencil-square-o" %></div>
                        <div class="link"><%= link_to '', waffle_path(@wafflesPromoArr[i]),
                                                           method: :delete,
                                                           data: { confirm: 'Czy napewno chcesz usunąć tego gofra?' } ,
                                                           class: "fa fa-times"%>
                        </div>
                        <% end %>
                      </div>
                    <% end %>
                </div>
                <% @box = 2 %>
                <% (@counter..@counter+7).each do |j| %>
                    <div class="box<%= @box %>">
                        <% if !@wafflesArr[j].nil? %>
                          <div class="wafflesRow rowGrid">
                            <div id="imageSmall"><%= image_tag(@wafflesArr[j].image.small) %>  </div>
                            <div id="nameSmall"><%= @wafflesArr[j].name %></div>
                            <div id="priceSmall"><%= @wafflesArr[j].price %> zł</div>
                            <% if can? :manage, Waffle %>
                            <div class="check"><%= check_box_tag "waffles[]", @wafflesArr[j].id %></div>
                                <% end %>
                            <div class="linkSmall"><%= link_to '', waffle_path(@wafflesArr[j]), class: "fa fa-chevron-up" %></div>
                               <% if can? :manage, Waffle %>
                            <div class="linkSmall"><%= link_to '', edit_waffle_path(@wafflesArr[j]), class: "fa fa-pencil-square-o" %></div>
                            <div class="linkSmall"><%= link_to '', waffle_path(@wafflesArr[j]),
                                                               method: :delete,
                              data: { confirm: 'Czy napewno chcesz usunąć tego gofra?' } ,
                              class: "fa fa-times"%>
                          </div>
                             <% end %>
                          </div>

                    <% end %>
                    </div>
                    <% @box+=1 %>
                    <% @counter+=1 %>
                <% end %>

            </div>
        <% end %>
    </div>
    <% if can? :manage, Waffle %>
<%= submit_tag "Usuń zaznaczone" %>
        <% end %>
<% end %>
