<h1>Gofry</h1>

<%= link_to 'Nowy gofr', new_waffle_path %>

<%= form_tag destroy_multiple_waffles_path, method: :delete do %>
    <div  class="grids">
      <div class="promocja">
        <div class="rows">
          <% @wafflesPromo.each do |a| %>
            <div class="itemsPromo rowGrid">
              <div class="check"><%= check_box_tag "waffles[]", a.id %></div>
              <div id="images"><%= image_tag(a.image) %></div>
              <div id="names"><%= a.name %></div>
              <div id="prices"><%= a.price %> zł</div>
              <%= a.discount? %>
              <div class="link"><%= link_to 'Szczegóły', waffle_path(a) %></div>
              <div  class="link"><%= link_to 'Edytuj', edit_waffle_path(a) %></div>
              <div  class="link"><%= link_to 'Usuń', waffle_path(a),
                                     method: :delete,
                                     data: { confirm: 'Czy napewno chcesz usunąć tego gofra?' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="zwykly">
        <div class="rows">
          <% @waffles.each do |w| %>
            <div class="items">
              <div><%= check_box_tag "waffles[]", w.id %></div>
              <div><%= image_tag(w.image.small) %></div>
              <div><%= w.name %></div>
              <div><%= w.price %> zł</div>
              <div><%= link_to 'Szczegóły', waffle_path(w) %></div>
              <div><%= link_to 'Edytuj', edit_waffle_path(w) %></div>
              <div><%= link_to 'Usuń', waffle_path(w),
                        method: :delete,
                        data: { confirm: 'Czy napewno chcesz usunąć tego gofra?' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<%= submit_tag "Usuń zaznaczone" %>
<% end %>