<h1>Gofry</h1>

<%= link_to 'Nowy gofr', new_waffle_path %>

<%= form_tag destroy_multiple_waffles_path, method: :delete do %>
    <div id="mother-box">
        <% @counter = 0 %>
        <% (0..@wafflesPromoCount-1).each do |i| %>
            <div id="box">
                <div class="box1">
                    <% if !@wafflesPromoArr[i].nil? %>
                    <%= image_tag(@wafflesPromoArr[i].image) %>
                      <div class=" rowGrid itemsPromoRow">
                        <div id="imageSmall"><%= image_tag(@wafflesPromoArr[i].image.small) %> </div>
                        <div id="nameSmall"><%= @wafflesPromoArr[i].name %></div>
                        <div id="priceSmall"><%= @wafflesPromoArr[i].price %> zł</div>
                        <div class="check"><%= check_box_tag "waffles[]", @wafflesPromoArr[i].id %></div>
                        <div class="linkSmall"><%= link_to '', waffle_path(@wafflesPromoArr[i]), class: "fa fa-chevron-up" %></div>
                        <div class="linkSmall"><%= link_to '', edit_waffle_path(@wafflesPromoArr[i]), class: "fa fa-pencil-square-o" %></div>
                        <div class="linkSmall"><%= link_to '', waffle_path(@wafflesPromoArr[i]),
                                                           method: :delete,
                                                           data: { confirm: 'Czy napewno chcesz usunąć tego gofra?' } ,
                                                           class: "fa fa-times"%>
                        </div>
                      </div>
                    <% end %>
                </div>
                <% @box = 2 %>
                <% (@counter..@counter+7).each do |j| %>
                    <div class="box<%= @box %>">
                        <% if !@wafflesArr[j].nil? %>
                          <div class="wafflesRow rowGrid">
                            <div id="imageSmall"><%= image_tag(@wafflesArr[j].image.small) %>  </div>
                            <div id="nameSmall"><%= @wafflesArr[j].name %></div>
                            <div id="priceSmall"><%= @wafflesArr[j].price %> zł</div>

                            <div class="check"><%= check_box_tag "waffles[]", @wafflesArr[j].id %></div>
                            <div class="linkSmall"><%= link_to '', waffle_path(@wafflesArr[j]), class: "fa fa-chevron-up" %></div>
                            <div class="linkSmall"><%= link_to '', edit_waffle_path(@wafflesArr[j]), class: "fa fa-pencil-square-o" %></div>
                            <div class="linkSmall"><%= link_to '', waffle_path(@wafflesArr[j]),
                                                               method: :delete,
                              data: { confirm: 'Czy napewno chcesz usunąć tego gofra?' } ,
                              class: "fa fa-times"%>
                          </div>
                          </div>

                    <% end %>
                    </div>
                    <% @box+=1 %>
                    <% @counter+=1 %>
                <% end %>
            </div>
        <% end %>
    </div>
<%= submit_tag "Usuń zaznaczone" %>
<% end %>