<h1>Gofry</h1>

<%= link_to 'Nowy gofr', new_waffle_path %>

<%= form_tag destroy_multiple_waffles_path, method: :delete do %>
    <div id="mother-box">
        <% @counter = 0 %>
        <% (0..@wafflesPromoCount-1).each do |i| %>
            <div id="box">
                <div class="box1">
                    <% if !@wafflesPromoArr[i].nil? %>
                    <%= image_tag(@wafflesPromoArr[i].image) %>
                    <% end %>
                </div>
                <% @box = 2 %>
                <% (@counter..@counter+7).each do |j| %>
                    <div class="box<%= @box %>">
                        <% if !@wafflesArr[j].nil? %>
                            <%= image_tag(@wafflesArr[j].image.small) %>
                        <% end %>
                    </div>
                    <% @box+=1 %>
                    <% @counter+=1 %>
                <% end %>
            </div>
        <% end %>
    </div>
<%= submit_tag "Usuń zaznaczone" %>
<% end %>