<p>
    <strong>Nazwa:</strong>
    <%= @waffle.name %>
</p>

<p>
    <strong>Cena:</strong>
    <%= @waffle.price %>
</p>
<p>
  <strong>Przecena:</strong>
  <%= @waffle.discount? %>
</p>

<p>
    <%= image_tag(@waffle.image) %>
</p>

<%= link_to 'Wróć', waffles_path %>
<%= link_to 'Edytuj', edit_waffle_path(@waffle) %>