<p id="notice"><%= notice %></p>

<h1>Sklepy</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Lokalizacja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.nazwa %></td>
        <td><%= shop.lokalizacja %></td>
        <td><%= link_to 'Show', shop %></td>
          <% if can? :manage, Shop %>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Shop %>
<%= link_to 'Nowy sklepaaaaaa', new_shop_path %>
<% end %>
