<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @shop.nazwa %>
</p>

<p>
  <strong>Lokalizacja:</strong>
  <%= @shop.lokalizacja %>
</p>
<% if can? :edit, Shop %>
<%= link_to 'Edytuj', edit_shop_path(@shop) %> |
<% end %>
<%= link_to 'Wróć', shops_path %>
