<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    Sklep:
    <%= f.collection_select :shop_id, Shop.all, :id, :nazwa, include_blank: false, include_hidden: false %>


    <div  class="grids">
      <div class="promocja">
        <div class="rows">
          <% @wafflesPromo&.each do |a| %>
              <div class="itemsPromo rowGrid">
                <%= number_field_tag "selected_waffles[#{a.id}][]", 0, min: 0, max: 99, value: OrderWaffle.where(order_id: @order.id, waffle_id: a.id).pluck(:quantity).first || 0 %>
                <div id="images"><%= image_tag(a.image) %></div>
                <div id="names"><%= a.name %></div>
                <div id="prices"><%= a.price %> zł</div>

              </div>
          <% end %>
        </div>
      </div>
      <div class="zwykly">
        <div class="rows">
          <% @waffles&.each do |w| %>
              <div class="items">
                <%= number_field_tag "selected_waffles[#{w.id}][]", 0, min: 0, max: 99, value: OrderWaffle.where(order_id: @order.id, waffle_id: w.id).pluck(:quantity).first || 0 %>
                <div><%= image_tag(w.image.small) %></div>
                <div><%= w.name %></div>
                <div><%= w.price %> zł</div>

              </div>
          <% end %>
        </div>
      </div>
    </div>
  <div class="actions">
    <%= f.submit 'Edytuj zamówienie' %>
  </div>
<% end %>
