<!DOCTYPE html>
<html>
<head>
  <title>Piotr Laskowski</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Strona główna</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" >
                <% if logged_in? %>
                <% if current_user.has_role? :admin %>
                <li class="nav-item active">
                    <%= link_to 'Gofry', { controller: 'waffles' }, class: 'nav-link' %>
                </li>
                <% end %>
                    <% end %>
                <li class="nav-item active">
                    <%= link_to 'Zamówienia', { controller: 'orders' }, class: 'nav-link' %>
                </li>
                <li class="nav-item active">
                    <%= link_to 'Sklepy', { controller: 'shops' }, class: 'nav-link' %>
                </li>
                <% if logged_in? %>
                <% if current_user.has_role? :admin %>
                <li class="nav-item">
                    <%= link_to 'Użytkownicy', { controller: 'users' }, class: 'nav-link' %>
                </li>
                <% end %>
                <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <li><%= link_to 'Użytkownicy', { controller: 'users' }, class: 'nav-link' %></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Konto
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <%= link_to "Profil", current_user, class: 'dropdown-item' %>
                            <%= link_to "Ustawienia", '#', class: 'dropdown-item' %>
                            <hr>
                            <%= link_to "Wyloguj", logout_path, method: "delete", class: 'dropdown-item' %>
                        </div>
                    </li>
                <% else %>
                    <li><%= link_to "Zaloguj", login_path, class: 'nav-link' %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron" >
    <div class="container">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
    </div>
</div>
</body>
</html>